.add-note-container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    justify-content: center;
 }

 input:focus {
    outline: none;
 }

 .create-note-field {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
 }

 .insert-txt-field {
    height: 30px;
    width: 350px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #564d4d56;
    padding: 3px;
    box-sizing: border-box;
 }

 .insert-txt-field.active {
    height: 30px;
    width: 350px;
    display: flex;
    align-items: center;
    padding: 3px;
    border: none;
    box-sizing: border-box;

 }

 .create-note-field.active {
    width: 350px;
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #564d4d56;
    padding: 3px;
    flex-direction: column;
 }

 .insert-txt-field input {
    border: none;
    height: 100%;
    direction: none;
    width: 100%;
    background: transparent;

 }

 .insert-txt-field i {
    padding: 8px;
 }


 .note-icons {
    display: flex;

 }


 .bottom-panel {
    position: relative;
    display: flex;
    width: 100%;
    padding:  10px;
    justify-content: flex-end;
    margin-right: 10px;
 }


 .todos-container.header {
    width: 350px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 3px;
    box-sizing: border-box;
    flex-direction: column;
    padding: 15px 0 15px;
    align-items: start;
 }



 .todos-container.header input {
    border: none;
    height: 100%;
    direction: none;
    background: transparent;
 }

 .todo-item.header{
    display: flex;
    align-items: anchor-center;
    width: 340px;
    padding: 5px;
    justify-content: space-between;
 }

 .last-todo.header{
    border-style: solid none;
    border-width: 2px;
    border-color: #564d4d56;
    align-self: end;
 }


.plus-sign{
    display: flex;
    align-self: self-end;
}


 .save-button {
    cursor: pointer;
    font-size: 13px;
 }