body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 8px;
    overflow: hidden;
    min-height: 100px;
}

.ToDo-List{
    display: flex;
    align-items: anchor-center;
    width: 239px;
    margin-left: 5px;
    align-self: start;
}

.modal-content input {
    display: flex;
    padding: 10px;
    width: 350px;
    box-sizing: border-box;
    border: none;
}

.modal-content .title{
    display: flex;
    padding: 10px;
    width: 350px;
    box-sizing: border-box;
    border: none;
    margin-left: 20px;
}

.modal-content button{
    display: flex;
    align-self: end;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}