


.nav-bar{
    background-color: #f1f1f1;
    height: 100vh;
    width: 70px;
    position: absolute;
    top: 10;
    left: 2;
    transition: width 1s ease; 
    z-index: 1000;
}
.nav-bar:hover {
    width: 223px;
}

.new-msg-btn{
    padding: 15px;
    margin: 8px;
    border: none;
    background-color: #c7d8f0;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}
.new-msg-img{
    width: 24px;
    height: 24px;
}
.nav-bar:hover .new-msg-btn::after{
    content: "Compose";
}    

.img-nav{
    width: 18px;
}
.btn-nav{
    padding: 10px;
    margin-left: 13px;
    border: none;
    background-color: transparent;

}
.btn-nav:hover{
    background-color: #ddd;

}
.nav-bar:hover .inbox-btn::after{
    content:" Inbox"
}
.nav-bar:hover .starred-btn::after{
    content:" Starred"
}
.nav-bar:hover .sent-btn::after{
    content:" Sent"
}
.nav-bar:hover .draft-btn::after{
    content:" Draft";
}
.nav-bar:hover .trash-btn::after{
    content:" Trash";
}

.menuOpen{
    margin-left: 160px;
}
.open-navb-bar{
    width: 223px;

}

.nav-bar .new-msg-btn::after,
.nav-bar .inbox-btn::after,
.nav-bar .starred-btn::after,
.nav-bar .sent-btn::after,
.nav-bar .draft-btn::after,
.nav-bar .trash-btn::after
{
    content: "";
    left: 50px; 
    opacity: 0; 
    transform: translateX(-20px) scale(0);
    transition: opacity 0.5s ease, transform 0.5s ease, font-size 0.5s ease;
}

.nav-bar:hover .new-msg-btn::after,
.open-navb-bar .new-msg-btn::after{
    padding-right: 15px;
    content: "  Compose";
    opacity: 1;
    transform: translateX(0) scale(1); 
}


.nav-bar:hover .inbox-btn::after,
.open-navb-bar .inbox-btn::after {
    content: "  Inbox";
    opacity: 1;
    transform: translateX(0) scale(1); 
}

.nav-bar:hover .starred-btn::after,
.open-navb-bar .starred-btn::after {
    content: "  Starred";
    opacity: 1;
    transform: translateX(0) scale(1); 
}
.nav-bar:hover .sent-btn::after,
.open-navb-bar .sent-btn::after{
    content: "  Sent";
    opacity: 1;
    transform: translateX(0) scale(1); 
}
.nav-bar:hover .draft-btn::after,
.open-navb-bar .draft-btn::after {
    content: "  Draft";
    opacity: 1;
    transform: translateX(0) scale(1); 
}
.nav-bar:hover .trash-btn::after,
.open-navb-bar .trash-btn::after{
    content: "  Trash";
    opacity: 1;
    transform: translateX(0) scale(1); 
}

