.book-filter {
    background-color: var(--clr2bg);
    padding-inline: 1em;
}

.car-book form {
    display: grid;
    grid-template-columns: 100px 200px;
    gap: .5em;
}

.car-book form button {
    margin-inline: 0
}