 .google-keep-container {
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    gap: 1px;
    height: 100vh;
 }


 .google-keep-content {
   display: grid;
   grid-template-columns: auto 1fr; 
   transition: grid-template-rows 0.3s ease;
   height: 100vh;
   border-top: 1px solid #ccc;}

.google-keep-content.menu-open {
   grid-template-rows: 200px 1fr; 
}

h3 {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
 
 
 


 














