 .google-keep-container {
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    gap: 1px;
    height: 100vh;
 }


 .google-keep-content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1px;
    height: 100vh;
 }

 
 .notes-container {
    display: flex;
   flex-direction: column;
 }


 


 














