.app-header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: #89A8B2;
    border-bottom: 1px solid #564d4d56;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

nav a {
    margin: .5em;
}

nav a.active {
    color: #E5E1DA;
    font-weight: bold;
    
}