.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #89A8B2;
    border-bottom: 1px solid #564d4d56;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    z-index: 10;
}

.app-header nav {
    display: flex;
    gap: 1rem;
}

.app-header a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

.nav-hamburger {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
}

@media (max-width: 600px) {
    .app-header {
        position: relative;
    }

    .nav-hamburger {
        display: block;
    }

    .app-header nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 70px; 
        right: 0;
        height: calc(100% - 90px); 
        width: 50px; 
        background-color: #f0f0f0;
        box-shadow: -2px 0 5px rgba(0,0,0,0.2);
        padding: 1rem;
        transform: translateX(100%); 
        transition: transform 0.3s ease-out;
        z-index: 100;
    }

    .app-header nav.open {
        transform: translateX(0); 
    }
}
